 {% if loggedin %}
    {% extends 'base_logged.html' %}
  {% else %}
    {% extends 'base.html' %}
  {% endif %}

  {% block title %}
  О нас
  {% endblock %}
  {% block content %}
  <section class="about-page">
    <div class="container">
      <h1 class="about-title">О проекте Cinematica</h1>
      <p class="about-text">
        Cinematica - это веб-приложение, разработанное в качестве дипломной работы с целью изучения и демонстрации возможностей современных веб-технологий.
      </p>
      <p class="about-text">
        Проект реализован на базе фреймворка Flask, который обеспечивает гибкость и удобство разработки веб-приложений на Python. Для работы с базой данных используется библиотека SQLAlchemy, позволяющая эффективно управлять данными и взаимодействовать с различными СУБД.
      </p>
      <p class="about-text">
        Пользовательский интерфейс Cinematica создан с использованием языков HTML и CSS, что обеспечивает кросс-браузерность и адаптивность.
      </p>
      <p class="about-text">
        В ходе разработки были применены принципы модульности, тестирования и документирования кода, что позволило создать надежное и удобное в использовании приложение.
      </p>
      <p class="about-tech">Технологии: Flask, SQLAlchemy, HTML, CSS</p>
    </div>
  </section>
  {% endblock %}
